<div class="container">
  <form #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
    <div class="mat-grid">
        <div class="mat-grid-item">
            <h1>{{ editando ? 'Edição de ' : 'Novo' }} Lançamento</h1>
        </div>
    </div>

    <div class="mat-elevation-z2" style="padding: 8px; border-radius: 4px; display: inline-block; margin-bottom: 16px;">
      <mat-button-toggle-group name="tipo" [(ngModel)]="lancamento.tipo" exclusive class="tipo-toggle">
        <mat-button-toggle *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="linha" style="display: flex; gap: 16px; flex-wrap: wrap;">
      <div class="campo-data">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Vencimento</mat-label>
          <input matInput [matDatepicker]="pickerVencimento" placeholder="dd/mm/aaaa" name="vencimento"
            [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel" required readonly />
          <mat-datepicker-toggle matSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerVencimento></mat-datepicker>
        </mat-form-field>

        <app-mensagem 
          [control]="vencimento" 
          [error]="'required'" 
          [text]="'Informe uma data de vencimento'">
        </app-mensagem>
      </div>
    
      <div class="campo-data">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ lancamento.tipo === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</mat-label>
          <input matInput [matDatepicker]="pickerRecebimento" placeholder="dd/mm/aaaa"
            [(ngModel)]="lancamento.dataPagamento" name="pagamento" readonly/>
          <mat-datepicker-toggle matSuffix [for]="pickerRecebimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerRecebimento></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    
    <div class="linha" style="display: flex; gap: 16px; margin-top: 20px;">
      <div style="width: 100%;">
        <mat-form-field appearance="outline" class="campo-grande">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" name="descricao"
            [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5"/>
        </mat-form-field>
      
        <app-mensagem 
          [control]="descricao" 
          [error]="'required'" 
          [text]="'Informe uma descrição'">
        </app-mensagem>

        <app-mensagem [control]="descricao" [error]="'minlength'"
          [text]="'Mínimo de ' + descricao.errors?.['minlength']?.requiredLength + ' caracteres'">
        </app-mensagem>
      </div>

      <div>
        <mat-form-field appearance="outline" class="campo-pequeno">
          <mat-label>Valor</mat-label>
          <input matInput currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false, align: 'right', max: 10000 }"
            [(ngModel)]="lancamento.valor" name="valor" #valorModel="ngModel" placeholder="0,00" required />
        </mat-form-field>
      
        <app-mensagem 
          [control]="valorModel" 
          [error]="'required'" 
          [text]="'Informe um valor'">
        </app-mensagem>
      </div>
    </div>

    <div class="filtros-container">
      <div style="flex: 1; display: flex; flex-direction: column;">
        <mat-form-field appearance="outline" class="campo-medio">
          <mat-label>Categorias</mat-label>
          <mat-select [(ngModel)]="lancamento.categoria.codigo" name="categoria" #categoriaModel="ngModel" required>
            <mat-option *ngIf="!lancamento.categoria.codigo" value="">Selecione</mat-option>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
              {{ categoria.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <app-mensagem 
          [control]="categoriaModel" 
          [error]="'required'" 
          [text]="'Informe uma categoria'">
        </app-mensagem>
      </div>
      
      <div style="flex: 1; display: flex; flex-direction: column;">
        <mat-form-field appearance="outline" class="campo-medio pessoa-field">
          <mat-label>Pessoas</mat-label>
          <mat-select [(ngModel)]="lancamento.pessoa.codigo" name="pessoa" #pessoaModel="ngModel" required>
            <mat-option [disabled]="true" class="pessoa-option-filtro">
              <div class="filtro-container" (click)="$event.stopPropagation()">
                <div class="filtro-box">
                  <mat-icon class="filtro-icon">search</mat-icon>
                  <input matInput placeholder="Filtrar..." [(ngModel)]="filtroPessoa" [ngModelOptions]="{ standalone: true }"
                    (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()"
                    class="filtro-input"/>
                </div>
              </div>
            </mat-option>
      
            <mat-option *ngFor="let pessoa of pessoas | filterPessoas:filtroPessoa" [value]="pessoa.value">
              {{ pessoa.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <app-mensagem 
          [control]="pessoaModel" 
          [error]="'required'" 
          [text]="'Informe uma pessoa'">
        </app-mensagem>
      </div>
    </div>        

    <div class="linha">
        <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
        <mat-label>Observação</mat-label>
        <textarea matInput rows="3" [(ngModel)]="lancamento.observacao" name="observacao" class="sem-selecao"></textarea>
        </mat-form-field>
    </div>

    <div class="linha" style="margin-top: 16px; display: flex; gap: 16px; align-items: center;">
      <button mat-raised-button color="primary" [disabled]="!lancamentoForm.valid">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button mat-raised-button color="accent">
        <mat-icon>add_circle</mat-icon>
        Novo
      </button>
      <a routerLink="/lancamentos">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
