<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="salvar()">
    <div class="mat-grid">
      <div class="mat-grid-item">
        <h1>{{ editando ? 'Edição de ' : 'Novo' }} Lançamento</h1>
      </div>
    </div>

    <div class="mat-elevation-z2" style="padding: 8px; border-radius: 4px; display: inline-block; margin-bottom: 16px;">
      <mat-button-toggle-group formControlName="tipo" exclusive class="tipo-toggle">
        <mat-button-toggle *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="linha" style="display: flex; gap: 16px; flex-wrap: wrap;">
      <div class="campo-data">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Vencimento</mat-label>
          <input matInput [matDatepicker]="pickerVencimento" placeholder="dd/mm/aaaa" formControlName="dataVencimento"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerVencimento></mat-datepicker>
          <mat-error *ngIf="formulario.get('dataVencimento')?.hasError('required')">Informe uma data de
            vencimento</mat-error>
        </mat-form-field>
      </div>

      <div class="campo-data">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ formulario.get('tipo')?.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</mat-label>
          <input matInput [matDatepicker]="pickerRecebimento" placeholder="dd/mm/aaaa" formControlName="dataPagamento"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="pickerRecebimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerRecebimento></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="linha" style="display: flex; gap: 16px; margin-top: 20px;">
      <div style="width: 100%;">
        <mat-form-field appearance="outline" class="campo-grande">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="descricao" />
          <mat-error *ngIf="formulario.get('descricao')?.hasError('tamanhoMinimo')">
            Mínimo de {{ formulario.get('descricao')?.errors?.['tamanhoMinimo']?.tamanho }} caracteres
          </mat-error>
          <mat-error *ngIf="formulario.get('descricao')?.hasError('obrigatoriedade')">
            Informe uma descrição
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="campo-pequeno">
          <mat-label>Valor</mat-label>
          <input matInput currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false, align: 'right', max: 10000 }"
            formControlName="valor" placeholder="0,00" />
            <mat-error *ngIf="formulario.get('valor')?.hasError('required')">Informe um valor</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="filtros-container">
      <div style="flex: 1; display: flex; flex-direction: column;" [formGroupName]="'categoria'">
        <mat-form-field appearance="outline" class="campo-medio">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="codigo">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.codigo">
              {{ categoria.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formulario.get('categoria.codigo')?.hasError('required')">Informe uma categoria</mat-error>
        </mat-form-field>
      </div>

      <div style="flex: 1; display: flex; flex-direction: column;" [formGroupName]="'pessoa'">
        <mat-form-field appearance="outline" class="campo-medio pessoa-field">
          <mat-label>Pessoas</mat-label>
          <mat-select formControlName="codigo">
            <mat-option [disabled]="true" class="pessoa-option-filtro">
              <div class="filtro-container" (click)="$event.stopPropagation()">
                <div class="filtro-box">
                  <mat-icon class="filtro-icon">search</mat-icon>
                  <input matInput placeholder="Filtrar..." [formControl]="filtroPessoaCtrl"
                    (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" class="filtro-input" />
                </div>
              </div>
            </mat-option>

            <mat-option *ngFor="let pessoa of pessoas | filterPessoas:filtroPessoaCtrl.value || ''"
              [value]="pessoa.value">
              {{ pessoa.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formulario.get('pessoa.codigo')?.hasError('required')">Informe uma pessoa</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="linha">
      <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
        <mat-label>Observação</mat-label>
        <textarea matInput rows="3" formControlName="observacao" class="sem-selecao"></textarea>
      </mat-form-field>
    </div>

    <div class="linha alinhamento-direita"
      style="margin-top: 8px; display: flex; align-items: center; justify-content: flex-end; gap: 8px;">
      <ng-container *ngIf="!arquivoSelecionado && !formulario.get('anexo.nome')?.value && !uploadEmAndamento">
        <button mat-raised-button class="botao-anexo" type="button" (click)="seletorArquivo.click()">
          <mat-icon>add</mat-icon>
          Anexar
        </button>
        <input type="file" #seletorArquivo hidden (change)="aoSelecionarArquivo($event)" />
      </ng-container>

      <mat-progress-spinner *ngIf="uploadEmAndamento" mode="indeterminate" diameter="30" color="primary">
      </mat-progress-spinner>

      <ng-container *ngIf="arquivoSelecionado && !uploadEmAndamento">
        <a (click)="visualizarArquivoSelecionado()" class="download-link" matTooltip="Pré-visualizar anexo">
          {{ arquivoSelecionado.name }}
        </a>
        <button (click)="removerArquivoSelecionado()" matTooltip="Remover anexo"
          class="red-square-close-button"></button>
      </ng-container>

      <ng-container *ngIf="formulario.get('anexo.nome')?.value && !arquivoSelecionado && !uploadEmAndamento">
        <a (click)="baixarAnexo()" class="download-link" matTooltip="Baixar anexo">
          {{ formulario.get('anexo.nome')?.value }}
        </a>
        <button (click)="removerAnexo()" matTooltip="Remover anexo" class="red-square-close-button"></button>
      </ng-container>
    </div>

    <div class="linha" style="margin-top: 16px; display: flex; gap: 16px; align-items: center;">
      <button mat-raised-button color="primary" [disabled]="!formulario.valid || uploadEmAndamento">
        <mat-icon>save</mat-icon>
        Salvar
      </button>
      <button mat-raised-button color="accent" type="button" (click)="novo()">
        <mat-icon>add_circle</mat-icon>
        Novo
      </button>
      <a routerLink="/lancamentos">Voltar para a pesquisa</a>
    </div>
  </form>
</div>