<div class="container">
  <form>
    <div class="mat-grid">
        <div class="mat-grid-item">
            <h1>Novo Lançamento</h1>
        </div>
    </div>

    <div class="mat-elevation-z2" style="padding: 8px; border-radius: 4px; display: inline-block; margin-bottom: 16px;">
      <mat-button-toggle-group name="tipo" [(ngModel)]="tipoSelecionado" exclusive class="tipo-toggle">
        <mat-button-toggle *ngFor="let tipo of tipos" [value]="tipo.value">
          {{ tipo.label }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="linha" style="display: flex; gap: 16px;">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Vencimento</mat-label>
        <input matInput [matDatepicker]="pickerVencimento" placeholder="dd/mm/aaaa" mask="d0/M0/0000"/>
        <mat-datepicker-toggle matSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerVencimento></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ tipoSelecionado === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</mat-label>
        <input matInput [matDatepicker]="pickerRecebimento" placeholder="dd/mm/aaaa" mask="d0/M0/0000"/>
        <mat-datepicker-toggle matSuffix [for]="pickerRecebimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerRecebimento></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="linha" style="display: flex; gap: 16px;">
      <mat-form-field appearance="outline" class="campo-grande">
        <mat-label>Descrição</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="campo-pequeno">
        <mat-label>Valor</mat-label>
        <input matInput currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', 
          allowNegative: false, align: 'right', max: 10000 }"
          placeholder="0,00" />
      </mat-form-field>           
    </div>

    <div class="filtros-container">
      <mat-form-field appearance="outline" class="campo-medio">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="categoriaSelecionada" name="categoriaSelecionada">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
            {{ categoria.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="campo-medio pessoa-field">
        <mat-label>Pessoa</mat-label>
        <mat-select [(ngModel)]="pessoaSelecionada" name="pessoaSelecionada">
          <mat-option [disabled]="true" class="pessoa-option-filtro">
            <div class="filtro-container" (click)="$event.stopPropagation()">
              <div class="filtro-box">
                <mat-icon class="filtro-icon">search</mat-icon>
                <input
                  matInput
                  placeholder="Filtrar..."
                  [(ngModel)]="filtroPessoa"
                  [ngModelOptions]="{ standalone: true }"
                  (click)="$event.stopPropagation()"
                  (keydown)="$event.stopPropagation()"
                  class="filtro-input"
                />
              </div>
            </div>
          </mat-option>
          <mat-option *ngFor="let pessoa of pessoas | filterPessoas:filtroPessoa" [value]="pessoa.value">
            {{ pessoa.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>    

    <div class="linha">
        <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Observação</mat-label>
        <textarea matInput rows="3"></textarea>
        </mat-form-field>
    </div>

    <div class="linha" style="margin-top: 16px; display: flex; gap: 16px; align-items: center;">
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-raised-button color="accent">Novo</button>
      <a href="#">Voltar para a pesquisa</a>
    </div>

  </form>
</div>

