.container {
    padding: 16px;
}

.mat-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .mat-grid-item h1 {
    font-weight: bold;
    font-size: 36px;
    color: #404C51;
  }
  
  .mat-grid-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.campo-pequeno {
    flex: 1;
    min-width: 150px;
  }
  
  .campo-medio {
    flex: 1;
    min-width: 200px;
  }
  
  .campo-grande {
    width: 100%;
  }
  