.mat-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .mat-grid-item h1 {
    font-weight: bold;
    font-size: 36px;
    color: #404C51;
  }
  
  .mat-grid-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .full-width {
    width: 100%;
  }
  
  /* ✅ Alteração aqui para remover scroll */
  .mat-table {
    width: 100%;
    border-radius: 8px;
    overflow: visible;
  }
  
  .mat-header th,
  .mat-row td {
    padding: 2px 6px;
    font-size: 13px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .mat-header-row,
  .mat-row {
    height: 24px !important;
  }
  
  .mat-header th:last-child,
  .mat-row td:last-child {
    border-right: none;
  }
  
  .mat-header th {
    background-color: #f2f7fc;
    color: #404C51;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .mat-row td:nth-child(5) {
    text-align: right;
  }
  
  .mat-row td:nth-child(1),
  .mat-row td:nth-child(2) {
    text-align: left;
  }
  
  .mat-row td:nth-child(3),
  .mat-row td:nth-child(4) {
    text-align: center;
  }
  
  .mat-header th:nth-child(5) {
    text-align: center;
  }
  
  .mat-header th:nth-child(1),
  .mat-row td:nth-child(1) {
    width: 300px;
  }
  
  .mat-header th:nth-child(2),
  .mat-row td:nth-child(2) {
    width: 300px;
  }
  
  .mat-header th:nth-child(3),
  .mat-row td:nth-child(3),
  .mat-header th:nth-child(4),
  .mat-row td:nth-child(4),
  .mat-header th:nth-child(5),
  .mat-row td:nth-child(5) {
    width: 100px;
  }
  
  .input-group mat-form-field {
    margin-right: 8px;
  }
  
  .input-group mat-form-field:last-child {
    margin-right: 0;
  }
  
  /* AÇÕES */
  .col-acoes {
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .botao-acao {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botao-acao mat-icon {
    font-size: 18px;
    line-height: 18px;
  }
      
  