.mat-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.mat-grid-item h1 {
    font-weight: bold;
    font-size: 36px; 
    color: #404C51;
}

.spacing-right {
    margin-right: 10px;
}

.mat-grid-item {
    width: 100%;
}

.full-width {
    width: 100%;
}

.mat-grid {
    margin-bottom: 15px;
}

.mat-grid-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.full-width {
    width: 100%;
}

.mat-table {
    display: block;
}

.mat-header th, .mat-row td {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-header th:last-child, .mat-row td:last-child {
    border-right: none;
}

.mat-header th,
.mat-row td {
    text-align: center;
}

.mat-row td:nth-child(5) {
    text-align: right;
}

.mat-row td:nth-child(1),
.mat-row td:nth-child(2) {
    text-align: left;
}

.mat-row td:nth-child(3),
.mat-row td:nth-child(4) {
    text-align: center;
}

.mat-header th:nth-child(5) {
    text-align: center;
}

.mat-header th:nth-child(1), .mat-row td:nth-child(1) { 
    width: 300px;
}

.mat-header th:nth-child(2), .mat-row td:nth-child(2) { 
    width: 300px;
}

.mat-header th:nth-child(3), .mat-row td:nth-child(3),
.mat-header th:nth-child(4), .mat-row td:nth-child(4), 
.mat-header th:nth-child(5), .mat-row td:nth-child(5) { 
    width: 100px;
}

.input-group mat-form-field {
    margin-right: 20px;
}

.input-group mat-form-field:last-child {
    margin-right: 0;
}
